<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="Test">
        <groups>
            <run>
                <include name="user"></include>
                <exclude name="user"></exclude>
            </run>
        </groups>
        <classes>
            <class name="com/bridglab/TestCasesAttributes.java"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite →